<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
    crossorigin="anonymous"
  />

  <title>Password Generator</title>
</head>

  <body style="background: mediumaquamarine">
    <div class="container text-center" style="padding-top: 2%">
      <h1 style="color: white">Password Generator</h1>
      <form
        action="{% url 'password' %}"
        style="font-size: 1.5rem; padding-top: 5rem"
      >
        Length
        <select name="length" style="width: 5%; font-size: 1.25rem" id="length">
          {% for number in length_numbers %} 
            {% if number == 13 %}
              <option value="{{number}}" selected="selected">{{number}}</option>
            {% else %}
              <option value="{{number}}">{{number}}</option>
            {% endif %} 
            {% endfor %}
        </select>
        <br/>
        How many passwords to generate
        <select name="passcount" style="width: 5%; font-size: 1.25rem">
          {% for number in password_count_numbers %} 
            {% if number == 1 %}
              <option value="{{number}}" selected="selected">{{number}}</option>
            {% else %}
              <option value="{{number}}">{{number}}</option>
            {% endif %} 
          {% endfor %}

        </select>
        <br />
        <input
          type="checkbox"
          style="width: 1.2rem; height: 1.2rem"
          name="uppercase"
        />
        UpperCase
        <br />
        <input
          type="checkbox"
          style="width: 1.2rem; height: 1.2rem"
          name="number"
        />
        Numbers
        <br />
        <input
          type="checkbox"
          style="width: 1.2rem; height: 1.2rem"
          name="special"
        />
        Special Characters <br /><br />
        Must Include:
        <input type="text" style="height: 2rem" name="include" id="include" />
        <br /><br /> 
        <input
          type="submit"
          value="Generate Password"
          class="btn btn-lg btn-primary"
        />
      </form>
    </div>
  </body>

  <script>
    const length = document.getElementById("length");
    const text = document.getElementById("include");

    let len = length.value;
    length.addEventListener("change", () => {
      len = length.value;
      if (text.value.length > len) {
        text.value = text.value.substring(0, len);
      }
    });
    text.addEventListener("keydown", (e) => {
      console.log(e.keyCode);
      keycodes = [8, 37, 39, 46];
      if (
        (text.value.length >= len && !keycodes.includes(e.keyCode)) ||
        e.keyCode == 32
      ) {
        e.preventDefault();
      }
    });
  </script>
</html>
